<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5twtAzv2ufGuWb-g85V2AxnzuuKKBhd8</string>
	<key>GCM_SENDER_ID</key>
	<string>598347073044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.resumeBuilder</string>
	<key>PROJECT_ID</key>
	<string>resumebuilder-a6cc4</string>
	<key>STORAGE_BUCKET</key>
	<string>resumebuilder-a6cc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598347073044:ios:28c84994bc904d60304901</string>
</dict>
</plist>